<h1>Your bookings</h1>
<% if @bookings = 0 %>
  <p><%= "You have no bookings. Don't hesitate to book your favourite car !" %></p>
  <%= link_to "Back to cars", cars_path %>
<% else %>
  <% @booking.each do |booking| %>
    <p><%= booking.car.brand %></p>
    <p>Date de début : <%= booking.starts_at %></p>
    <p>Date de fin : <%= booking.ends_at %></p>
    <%= link_to "Back to cars", cars_path %><br><br>
  <% end %>
<% end %>
